<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="none" (click)="goBack()">
      <ion-icon name="chevron-back-outline"></ion-icon>
      {{getUiLabel(UIL.Save)}}
    </ion-button>
    <ion-button size="large" slot="end" fill="none" (click)="onClickHelp()">
      <ion-icon name="help-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-label><b>{{getUiLabel(UIL.DisplayLang)}}</b></ion-label>
      <ion-select #langsel [(ngModel)]="this.cacheService.settings.langUi" interface="action-sheet"
        [cancelText]="getUiLabel(UIL.Cancel)">
        <ion-select-option *ngFor="let lang of this.cacheService.settings.langSettings" [value]="lang.langData">
          {{languageService.getLangDataLabel(lang.langData)}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <ion-toolbar class="ion-text-center">
    <b> {{getUiLabel(UIL.ScratchCardSettings)}}</b>
  </ion-toolbar>
  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">

    <ion-item *ngFor="let lang of this.cacheService.settings.langSettings">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="7">
            <ion-item class="ion-no-padding">
              <ion-checkbox [(ngModel)]="lang.active"></ion-checkbox>
              <ion-label> &nbsp; &nbsp;{{this.getLangLabel(lang.langData)}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="5">
            <ion-item [disabled]="!lang.active" class="ion-no-padding">
              <ion-icon slot="end" name="eye-off-outline"></ion-icon>
              <ion-checkbox slot="end" [(ngModel)]="lang.hide"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>

          <ion-col size="auto">
            <ion-select [disabled]="!lang.active || this.languageService.getDialectList(lang.langData).length < 2"
              style="max-width: 100%; width: 100%" [(ngModel)]="lang.langSpeechIndex" interface="action-sheet"
              [cancelText]="getUiLabel(UIL.Cancel)">
              <ion-select-option *ngFor="let ls of this.languageService.getDialectList(lang.langData)" [value]="ls">
                {{languageService.getDialectLabel(lang.langData, cacheService.settings.langUi, ls)}}
              </ion-select-option>
            </ion-select>
          </ion-col>

        </ion-row>
      </ion-grid>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
  </ion-reorder-group>

  <ion-card padding *ngIf="false">
    <ion-row>
      <ion-col>
        <ion-chip>
          {{getUiLabel(UIL.DisplayImageInCard)}} &nbsp; &nbsp;
          <ion-checkbox [(ngModel)]="this.cacheService.settings.showImageCard"></ion-checkbox>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip>
          {{getUiLabel(UIL.DisplayImageInList)}} &nbsp; &nbsp;
          <ion-checkbox [(ngModel)]="this.cacheService.settings.showImageList"></ion-checkbox>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-toolbar class="ion-text-center">
      <b> {{getUiLabel(UIL.LeniencyChinese)}}</b>
    </ion-toolbar>
    <ion-card-content>
      <div>{{getUiLabel(UIL.TraceOver)}}</div>
      <ion-item>
        <ion-range [(ngModel)]="this.cacheService.settings.miaohongLeniency" min="0.5" max="1" step="0.05" snaps="true">
        </ion-range>
      </ion-item>
      <div>{{getUiLabel(UIL.Dictation)}}</div>
      <ion-item>
        <ion-range [(ngModel)]="this.cacheService.settings.moxieLeniency" min="0.5" max="1" step="0.05" snaps="true">
        </ion-range>
      </ion-item>
    </ion-card-content>


  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="moon"></ion-icon>
      <ion-label>&nbsp; &nbsp;{{getUiLabel(UIL.DarkMode)}}</ion-label>
      <ion-toggle [(ngModel)]="this.cacheService.settings.darkMode" (ionChange)="onChangeDarkMode()" slot="end">
      </ion-toggle>
    </ion-item>
  </ion-card>



</ion-content>