<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
      {{cacheService.getUiLabel(UIL.Categories)}}
    </ion-title>
    <ion-button fill="outline" slot="start" [routerLink]="['/hanzi']">
      <ion-icon name="brush"></ion-icon>
    </ion-button>
    <ion-button fill="outline" slot="end" [routerLink]="['/settings']">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content mode="ios">
  <div>
    <ion-card>
      <ion-item [routerLink]="['/card-list', 0]">
        <ion-label>{{cacheService.getUiLabel(UIL.AllWords)}}</ion-label>
      </ion-item>
    </ion-card>
    <ion-list>
      <ion-item *ngFor="let cat of this.cacheService.allCategories" [routerLink]="['/card-list', cat.id]">
        <ion-label>{{cacheService.getCategoryLabelUi(cat)}}</ion-label>
      </ion-item>
    </ion-list>

  </div>
</ion-content>